#weather-container {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-med);
  border-top: 0.1rem solid var(--secondary-light);
  padding: 1rem;
}

#weather-container h2 {
  color: var(--secondary-light);
}

#weather-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

#info-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
